<div id="Footer" class="footer">
  <div class="footer-typemark-div">
    <a href="/es/" class="link-block w-inline-block">
      <div class="footer-typemark">Organically</div>
    </a>
    <div class="footer-social-wrapper">
      <a href="https://twitter.com/organicallyseo" class="footer-social-link w-inline-block"><img src="/images/X-black.png" loading="lazy" width="28" alt="" class="footer-social-image light"><img src="/images/X-black.png" loading="lazy" width="28" alt="" class="footer-social-image dark"></a>
      <a href="https://www.linkedin.com/in/ryan-scanlon31/" class="footer-social-link w-inline-block"><img src="/images/LinkedIn-Black.png" loading="lazy" width="28" alt="" class="footer-social-image light"><img src="/images/LinkedIn-Black.png" loading="lazy" width="28" alt="" class="footer-social-image dark"></a>
    </div>
    <div class="copyright-bar">Copyright 2025 Organically SEO. Todos los derechos reservados.</div>
  </div>
  <div class="footer-wrapper-1">
    <div class="footer-div">
      <div class="footer-subheading">Agencia</div>
      <a href="/es/diseno-web/" class="footer-text">Diseno Web</a>
      <a href="/es/seo/" class="footer-text">SEO</a>
      <a href="/es/branding/" class="footer-text">Branding</a>
      <a href="/es/blog/" class="footer-text">Blog</a>
    </div>
    <div class="footer-div">
      <div class="footer-subheading">Contacto</div>
      <a href="/form/" class="footer-text">Formulario</a>
      <div class="footer-text">ryan.organically@gmail.com</div>
    </div>
    <div class="footer-div">
      <div class="footer-subheading">Aburrido</div>
      <a href="/es/privacy-policy/" class="footer-text">Politica de Privacidad</a>
      <a href="/es/sitemap/" class="footer-text">Mapa del Sitio</a>
    </div>
  </div>
</div>
